.result-preview,
.search-settings,
.search-result {
  width: 100%;
  padding: 2rem;
  display: flex;
}

.search-settings {
  background-color: blanchedalmond;
}

.original-news,
.request {
  margin-right: 2rem;
}

.frames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 2rem;
  padding-right: 2rem;
}

.frames-line {
  width: 100%;
  height: 100%;
  background-color: gray;
}
